@model IEnumerable<Restaurant.Models.MasterSocialMedium>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <h1>Index</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home">Home</a></li>

            <li class="breadcrumb-item"> Master Service </li>
        </ol>
    </nav>

</div><!-- End Page Title -->

<p style="    margin-bottom: 15px;
position: relative;
display: flow-root;">
    <a style="float:right" class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">


                    <table class="table datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MasterSocialMediumImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterSocialMediumUrl)
            </th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                                        @Html.DisplayFor(modelItem => item.MasterSocialMediumUrl)
            </td>
            <td>
                                        <img src="~/Images/@item.MasterSocialMediumImageUrl" style="max-width:50px" />
            </td>
            
            <td>
                                        <a class="ri-ball-pen-line " asp-action="Edit" asp-route-id="@item.MasterSocialMediumId"></a> |
                                        <a class="PathDelete " data-bs-toggle="modal" data-bs-target="#basicModal" data-m="@Url.ActionLink("Delete", "MasterSocialMedium", new { id = item.MasterSocialMediumId })">
                                            <i class=" ri-delete-bin-4-fill text-danger h4"></i>
                                        </a>

                                        @if (@item.IsActive == true)
                                        {
                                            <a asp-action="Active" asp-route-id="@item.MasterSocialMediumId">
                                                <i class="ri-eye-fill text-success h5"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Active" asp-route-id="@item.MasterSocialMediumId">
                                                <i class="ri-eye-close-fill text-danger h5"></i>
                                            </a>
                                        }
                
            </td>
        </tr>
}
    </tbody>
</table>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Basic Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you Delete this Row?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ConfirmDelete"> Delete </button>
            </div>
        </div>
    </div>
</div><!-- End Basic Modal-->

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
</script>


<script>
    $(function () {
        var datapath = ""
        $('.PathDelete').on('click', function () {
            datapath = $(this).data('m')


        })


        $('.ConfirmDelete').on('click', function () {
            window.location = datapath;

        })

    })
</script>