@model Restaurant.ViewModels.HomeModel
@{
    ViewData["Title"] = "Menu";
}
<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>menu</h3>
            <ul>
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li class="active">menu page </li>
            </ul>
        </div>
    </div>
</div>

<div class="product-menu-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Food Menu</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="menu-tab-wrap mb-50">
            <div class="menu-tab-list nav text-center">
                <!-- "All Items" Tab Link -->
                <a href="#all-items" data-bs-toggle="tab" class="nav-link active">
                    All Items
                </a>

                <!-- Existing Category Tabs -->
                @foreach (var item in Model.ListMasterCategoryMenu)
                {
                    <a href="#tab-@item.MasterCategoryMenuId" data-bs-toggle="tab" class="nav-link">
                        @item.MasterCategoryMenuName
                    </a>
                }
            </div>
        </div>
        <div class="tab-content jump">
            <!-- "All Items" Tab Content -->
            <div id="all-items" class="tab-pane fade show active">
                <div class="row">
                    @foreach (var item in Model.ListMasterItemMenu)
                    {
                        <div class="col-lg-6">
                            <div class="single-menu-product mb-30">
                                <div class="menu-product-img">
                                    <img alt="" src="/images/@item.MasterItemMenuImageUrl">
                                </div>
                                <div class="menu-product-content">
                                    <div class="menu-title-price">
                                        <div class="menu-title">
                                            <a href="@Url.Action("ProductDetails", "Home", new { id = item.MasterItemMenuId })"><h4>@item.MasterItemMenuTitle</h4></a>
                                        </div>
                                        <div class="menu-price">
                                            <span>@item.MasterItemMenuPrice</span>
                                        </div>
                                    </div>
                                    <p>Categories: Subway, Masala, Indian</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- Existing Category Tabs Content -->
            @foreach (var Item2 in Model.ListMasterCategoryMenu)
            {
                <div id="tab-@Item2.MasterCategoryMenuId" class="tab-pane fade">
                    <div class="row">
                        @foreach (var item in Model.ListMasterItemMenu.Where(i => i.MasterCategoryMenuId == Item2.MasterCategoryMenuId))
                        {
                            <div class="col-lg-6">
                                <div class="single-menu-product mb-30">
                                    <div class="menu-product-img">
                                        <img alt="" src="/images/@item.MasterItemMenuImageUrl">
                                    </div>
                                    <div class="menu-product-content">
                                        <div class="menu-title-price">
                                            <div class="menu-title">
                                                <a href="@Url.Action("ProductDetails", "Home", new { id = item.MasterItemMenuId })"><h4>@item.MasterItemMenuTitle</h4></a>
                                            </div>
                                            <div class="menu-price">
                                                <span>@item.MasterItemMenuPrice</span>
                                            </div>
                                        </div>
                                        <p>Categories: Subway, Masala, Indian</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<div class="brand-logo-area ptb-100">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            @foreach (var item in Model.ListMasterPartner)
            {
                <div class="single-brand-logo">
                    <img alt="" src="/images/@item.MasterPartnerLogoImageUrl">
                </div>
            }
        </div>
    </div>
</div>


